/* *****************************************
************* Modal FILTRAR ****************
******************************************* */

.main__modal {
    color: var(--primary-white);
    background-color: var(--primary-black);
    border-radius: 16px;
    padding: 32px;
    position: absolute;
    z-index: 1;
}

.main__modal--edit {
    /* right: 0px; */
}

.main__modal > div {
    display: flex;
    justify-content: end;
}

.main__modal--filtrar {
    top: 220px;
    right: 160px;
}

.main__modal--edit::before {
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid var(--primary-black);
    content: "";
    height: 0;
    right: 20px;
    position: absolute;
    top: -80px;
    width: 0;
}

.main__modal > form > div {
    display: flex;
    flex-direction: column;
    font-size: var(--md);
    font-weight: bold;
    margin: 16px 0;
    width: 100%;
}

.main__modal select,
.main__modal input {
    border: none;
    border-bottom: 1px solid var(--primary-white);
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-size: var(--md);
    padding: 8px 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.main__modal .button--submit {
    width: 100px;
    text-align: center;
}

.main__modal > form > button {
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* *****************************************
******** Modal Editar Fecha ****************
******************************************* */
.main__modal.modal--fecha {
    width: 240px;
}

/* *****************************************
******** Modal Nueva Factura ****************
******************************************* */

.main__modal.main__modal--nuevaFactura {
    width: 400px;
    top: 60px;
    right: 0;
}